// Import Vuetify styling
@import '~vuetify/src/stylus/main.styl'

// !fix scroll bar
html
    overflow: hidden

body
    overflow: hidden

.container
    overflow: auto

.containt
    overflow: auto

// !end fix scroll bar
.cursor-pointer
    cursor: pointer