.cursor-pointer
    cursor: pointer

.cursor-zoom-out
    cursor: zoom-out

.cursor-zoom-in
    cursor: zoom-in

.vh
    height: 100vh

.appbar
    margin-top: 64px

.absolute
    position: absolute

.relative
    position: relative

.text-overflow-ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

// .scroller-title
// height: calc(100vh - 64px) !important
// overflow: auto
.overflow-hidden
    overflow: hidden
    height: 100%
    width: 100%

.overflow-auto
    overflow: auto

.overflow-x-hidden
    overflow-x: hidden
    width: 100%

.overflow-x-auto
    overflow-x: auto

.overflow-y-hidden
    overflow-y: hidden
    height: 100%

.overflow-y-auto
    overflow-y: auto

.overflow-scroll
    overflow: scroll

.overflow-y-scroll
    overflow-y: scroll

.overflow-x-scroll
    overflow-x: scroll
